<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= raw t('errors.error.header', count: object.errors.count,
      model: t('activerecord.modelsobject')) %>.</h2>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= raw message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
